/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 6px;
  background-color: #0E8784;
  border: none;
  color: #FEFCF7;
  padding: 16px 31px;
  cursor: pointer;
}

.btn:hover {
  background-color: #66D2CF;
}

.nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  gap: 33px;
}
.nav__item {
  font-family: barlow;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.nav__link {
  color: #83888F;
}
.nav__link:hover {
  color: #333D4B;
}
.nav__link:active {
  color: #333D4B;
}

.hero-container {
  display: flex;
  align-items: center;
  color: #FEFCF7;
  background-image: url(/static/imgs/jpg/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 123px;
}

.hero {
  padding-left: 88px;
}
.hero__title {
  font-family: Fraunces;
  font-size: 72px;
  padding-bottom: 32px;
}
.hero__content {
  max-width: 440px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
  padding-bottom: 56px;
}

.about-hero-section .hero-container {
  display: flex;
  align-items: center;
  color: #FEFCF7;
  background-image: url(/static/imgs/jpg/about-hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 168px;
}

.about-hero {
  padding-left: 88px;
}
.about-hero__title {
  font-family: Fraunces;
  font-size: 40px;
  padding-bottom: 48px;
}
.about-hero__content {
  max-width: 440px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.8;
  padding-bottom: 56px;
}

.about-hero-section .create-container {
  display: flex;
  align-items: center;
  color: #FEFCF7;
  background-image: url(/static/imgs/jpg/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 168px;
}

.collaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
}
.collaction__items {
  position: relative;
  top: -75px;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__img {
  padding-bottom: 70px;
}
.item__title {
  color: #333D4B;
  font-family: Fraunces;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 24px;
}
.item__subtitle {
  max-width: 255px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.cards-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-bg {
  background-color: #2C343E;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 577px;
  color: #FEFCF7;
}
.card-bg__title {
  padding-top: 100px;
  font-family: Fraunces;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 32px;
}
.card-bg__subtitle {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 540px;
}

.cards {
  display: flex;
  gap: 30px;
  position: relative;
  top: -232px;
}

.card {
  padding: 72px 48px 48px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0E8784;
  border-radius: 8px;
  color: #FEFCF7;
}
.card__img {
  width: 72px;
  padding-bottom: 56px;
}
.card__title {
  font-family: Fraunces;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 24px;
}
.card__subtitle {
  max-width: 255px;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 200px;
}
.info__title {
  color: #83888F;
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  padding-bottom: 80px;
}
.info__img {
  max-width: 760px;
  padding-bottom: 100px;
}

.steps {
  display: flex;
  gap: 95px;
  padding-bottom: 64px;
}

.step__title {
  color: #FDD6BA;
  font-family: Fraunces;
  font-size: 72px;
  line-height: 72px;
  padding-bottom: 38px;
}
.step__subtitle {
  width: 255px;
  color: #333D4B;
  font-family: Fraunces;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 42px;
}

.content {
  width: 285px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C343E;
}

.footer-container .nav {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 48px 85px 48px;
}

.social {
  display: flex;
  align-items: center;
  gap: 48px;
  padding-right: 85px;
}

.about-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
  margin-bottom: 168px;
}

.about-info {
  display: flex;
  flex-direction: column;
}
.about-info__title {
  color: #333D4B;
  font-family: Fraunces;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 32px;
}
.about-info__content {
  max-width: 538px;
  color: #333D4B;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.info-section-container {
  border-radius: 10px;
  background-color: #2C343E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 168px;
}

.about-info {
  padding-left: 85px;
}
.about-info__title--info {
  color: #FEFCF7;
  font-family: Fraunces;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 32px;
}
.about-info__content--info {
  max-width: 538px;
  color: #FEFCF7;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.info-img {
  position: relative;
  top: -85px;
  border-radius: 10px;
  padding-right: 85px;
}

.about0 {
  width: 285px;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 900;
}

.create-wrapper {
  background-color: #2C343E;
  padding: 113px 85px 55px;
}

.create-steps .step__subtitle {
  color: #FEFCF7;
}
.create-steps .step .content {
  color: #FEFCF7;
}/*# sourceMappingURL=style.css.map */